#!/bin/sh

set -e

export BORG_RSH="ssh -i {{ borgbackup_client_ssh_key_file }}"

REPOSITORY={{ borgbackup_server_user }}@{{ borgbackup_client_backup_server }}:{{ item.name }}

borg create \
  {{ item.options | default('--compression zlib,6') }} \
  $REPOSITORY::{{ ansible_hostname }}-$(date -I) \
  {{ item.directories | join(' ') }} \
  {% for e in item.excludes %}
  --exclude '{{ e }}' \
  {% endfor %}
